/* 와이드 pc  */

	
.videoBox{width:100%;height:100%; overflow:hidden; position:absolute}
.videoBox a{background: url(../images/scroll_logo\ 1.png) 50% 0% no-repeat; padding-top: 60px;}

#imgBG{
	position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
}

/* 스크롤다운 */
.down{display: block; font-size: 20px; position: absolute; z-index: 30;
   left:50%; bottom: 10%;
  animation:ani 1s infinite  alternate;}
@keyframes ani {
  0% { transform: translate(-50%,-50%); opacity:1; color:#fff;}
  100% { transform: translate(-50%,-70%); opacity:0.8; color:#da292a;}
}		
	
#content{ width:100%; margin:0; background:rgba(0,0,0,.9);position: relative;  text-align: center;}
#content h2{position: absolute; top: -500px;
width: 100%; text-align: center; font-size: 4em; color: #f00;}

#content h4{font-size: 3rem; padding-top: 50px; font-weight: 400;}
#content .swiper-wrapper .img1{display: grid; grid-template-columns: 1fr 1fr; margin: 50px 0; gap: 5px; padding: 50px 200px;}
#content .swiper-wrapper .img1 .photo{position: relative;  width: 70%; margin-left: 50px;box-sizing: border-box; transition: all .5s;}
#content .swiper-wrapper .img1 .photo:hover{filter: hue-rotate(255deg);}
#content .swiper-wrapper .img1 .photo img{width: 100%; border-radius: 150px 50px 150px 50px; 
  animation: pulsate 4s linear infinite;}
#content .swiper-wrapper .img1 .photo img::before{
  z-index: -1;
  width: 105%;
  height: 105%;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  opacity: .3;}

  @keyframes pulsate {
    50% {
      box-shadow:
        0 0 10px #fff,
        10px 0 30px #da292a,
        -10px 0 30px #f2c53d,
        inset 0 0 30px #fff,
        inset -10px 0 30px #da292a,
        inset 30px 0 30px #f2c53d,
        inset -10px 0 30px #da292a,
        inset 10px 0 30px #f2c53d;
    }
  }

#content .swiper-wrapper .img1 h5{font-size: 1.7rem;}

#content .swiper-wrapper .img1 .text{text-align: left;}
#content .swiper-wrapper .img1 .text dl dt{margin-bottom: 20px;}
#content .swiper-wrapper .img1 .text dl dd{text-align: left; margin-bottom: 10px;}
#content .swiper-wrapper .img1 .text dl dd span{display: inline-block; margin-right: 20px; font-weight: 700;}

#content .swiper-wrapper .img1 .text ul{display: grid; grid-template-columns: 1fr 1fr; margin-top: 50px;}
#content .swiper-wrapper .img1 .text ul li{width: 80%;}
#content .swiper-wrapper .img1 .text ul li:hover img{box-shadow: 0px 0px 20px 0px #ffffff;}
#content .swiper-wrapper .img1 .text ul li img{width: 100%;  transition: all .5s;}
#content .swiper-wrapper .img1 .text ul li:nth-child(1) img{border-radius: 50px 100px 50px 100px;}
#content .swiper-wrapper .img1 .text ul li:nth-child(2) img{border-radius: 100px 50px 100px 50px;}
#content .swiper-wrapper .img1 .text ul li:nth-child(2){padding-top: 110px;}

/* swiper */

html, body {
  /* position: relative;
  height: 100%; */
}
body {
  /* background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000; */
  /* margin: 0;
  padding: 0; */
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: .6;}
  .swiper-pagination-bullet-active{background: red;}

/* 일반 pc */
@media screen and (max-width:1280px) {
	#content .swiper-wrapper .img1{padding: 50px 50px;}
}


/* 테블릿 */
@media screen and (max-width:1024px) {
	
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
  #content .swiper-wrapper .img1{padding: 50px 40px;}
  #content .swiper-wrapper .img1 .photo{width: 80%;}
  #content .swiper-wrapper .img1 .text{margin-left: 20px;}
	#content .swiper-wrapper .img1 .text ul{display: none;}


}

/* 모바일 */
@media screen and (max-width:640px) {
	  #content .swiper-wrapper .img1 .photo img{border-radius: 100px 50px 100px 50px;}
    #content .swiper-wrapper .img1 .text dl{font-size: .9rem;}
    #content .swiper-wrapper .img1 .text dl dt{margin-top: 10px;}
    #content .swiper-wrapper .img1 .text dl dd:nth-last-child(1){display: none;}
    #content .swiper-wrapper .img1 .text dl dd:nth-last-child(2) {display: none;}
    #content .swiper-wrapper .img1 .text dl dd:nth-last-child(3){display: none;}
}

@media screen and (max-width:480px) {
  #content .swiper-wrapper .img1 {padding: 50px 0;}

}