#content4_4 .content_area4_4{padding-bottom: 100px;}

#content4_4{width: 1200px; margin: 0 auto;}
#content4_4 .title_area4_4{overflow: hidden; position: relative;}
#content4_4 .title_area4_4::after{content: ""; display: block; width: 3px; height: 90px; 
background: #f23f42; position: absolute; left: 50%; margin-left: -4px; bottom: 30px;}
#content4_4 .title_area4_4 .line_map{position: absolute; right: 20px; top: 30px; color: #666; font-size: 16px;}

#content4_4 .title_area4_4 h2{font-size: 50px; font-weight: 700; text-align: center;
                        margin: 130px 0 20px;}
#content4_4 .title_area4_4 p{font-size: 1em; margin-bottom: 150px; text-align: center;}
#content4_4 .title_area4_4 p span{color: #f23f42; font-weight: 500;}

#content4_4 .talentedPerson div:nth-child(1){display: flex;}
#content4_4 .talentedPerson .talentedPerson_box{margin: 50px 0; padding-bottom: 50px; border-bottom: 1px dotted #eeeeee;}
#content4_4 .talentedPerson .welfare_system{display: flex;}
#content4_4 .talentedPerson .compensation_system{width: 270px; justify-content: left; flex-direction: column; margin-top: 60px;}
#content4_4 .talentedPerson .compensation_system p{line-height: 25px;}
#content4_4 .talentedPerson h3{width: 300px; font-size: 2em; margin-bottom: 20px; position: relative;}
#content4_4 .talentedPerson h3::before{content: ""; width: 55px; height: 3px; background: #f23f42; position: absolute; left: 2px; top: -5px;}
#content4_4 .talentedPerson ul{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; margin-left: 150px}
#content4_4 .talentedPerson li{width: 250px; height:250px; text-align: center;} 
#content4_4 .talentedPerson li strong{display: block; margin-top: 150px; font-size: 1.125em;}
#content4_4 .talentedPerson li p{font-size: .90em; margin-top: 8px; width: 160px; margin-left: 20%;}

#content4_4 .compensation_systemIcon li:nth-child(1){background: url(../images/content2/money_saving.png) no-repeat; background-position: 50% 30%; background-size: 27%;}
#content4_4 .compensation_systemIcon li:nth-child(2){background: url(../images/content2/shuttle.png) no-repeat; background-position: 50% 30%; background-size: 27%;}
#content4_4 .compensation_systemIcon li:nth-child(3){background: url(../images/content2/life_insurance.png) no-repeat; background-position: 50% 30%; background-size: 27%;}
#content4_4 .compensation_systemIcon li:nth-child(4){background: url(../images/content2/wreath.png) no-repeat; background-position: 50% 30%; background-size: 27%;}
#content4_4 .compensation_systemIcon li:nth-child(5){background: url(../images/content2/professional.png) no-repeat; background-position: 50% 30%; background-size: 27%;}
#content4_4 .compensation_systemIcon li:nth-child(6){background: url(../images/content2/healthcare.png) no-repeat; background-position: 50% 30%; background-size: 27%;}

#content4_4 .welfare_systemIcon li:nth-child(1){background: url(../images/content2/firework.png) no-repeat; background-position: 50% 30%; background-size: 27%;}
#content4_4 .welfare_systemIcon li:nth-child(2){background: url(../images/content2/sunset.png) no-repeat; background-position: 50% 30%; background-size: 27%;}
#content4_4 .welfare_systemIcon li:nth-child(3){background: url(../images/content2/medal.png) no-repeat; background-position: 50% 30%; background-size: 27%;}
#content4_4 .welfare_systemIcon li:nth-child(4){background: url(../images/content2/baby_bottle.png) no-repeat; background-position: 50% 30%; background-size: 27%;}
#content4_4 .welfare_systemIcon li:nth-child(5){background: url(../images/content2/maternity.png) no-repeat; background-position: 50% 30%; background-size: 27%;}
#content4_4 .welfare_systemIcon li:nth-child(6){background: url(../images/content2/gift.png) no-repeat; background-position: 50% 30%; background-size: 27%;}
#content4_4 .welfare_systemIcon li:nth-child(7){background: url(../images/content2/baby_changing.png) no-repeat; background-position: 50% 30%; background-size: 27%;}