/* 연구센터 본문 */

#content{width: 1200px; margin: 0 auto;}
#content .title_area{position: relative;}
#content .title_area .line_map{position: absolute; right: 20px; top: 30px; color: #666; font-size: 16px;}

#content .animation_box{overflow: hidden;}
#content .animation_box::after{content: ""; display: block; width: 3px; height: 90px; 
    background: #f23f42; position: absolute; left: 50%; margin-left: -4px; bottom: 30px;}
#content .animation_box h2{font-size: 50px; font-weight: 700; text-align: center;
                        margin: 130px 0 20px;}
#content .animation_box p{font-size: 18px;margin-bottom: 150px; text-align: center;}
#content .animation_box p span{color: #f23f42;}


.content_area section div>p{text-align: center; ;font-size: 3.5em; font-weight: 600; color: #f23f42;}
.content_area section div>img{width: 500px; float: left;}
.content_area section div>span{display: block; font-size: 2em; font-weight: 500; text-align: center; color: #666; margin-bottom: 100px;}

.content_area section .year_results{margin-left: 650px; position: relative; margin-bottom: 100px;}

.content_area section .year_results dl{margin-left: 50px;}
.content_area section .year_results dt{margin-bottom: 10px; color: #f23f42; font-size: 1.2em; font-weight: 500; margin-left: -40px; padding-bottom: 5px; border-bottom: 5px dotted #ccc; position: relative;}
.content_area section .year_results dl::after{content: ""; display: block; width: 4px; height: 100%; background-color: #ccc; position: absolute; left: -9%; top: 1%; z-index: -10;}
.content_area section .year_results dt::before{content: ""; display: block; width: 20px; height: 20px; border-radius: 50%; background-color: #fff; position: absolute; left: -72px; top: 5px; border: 3px solid #f23f42;}
.content_area section .year_results dd{margin-bottom: 20px;}
.content_area section .year_results dd span{margin-left: -38px; color: #f23f42;}
.content_area section .year_results dd p{margin: -25px 0 0;}
