/* ceo인사말 본문 css */
#content .content_area{
}

#content{width: 1200px; margin: 0 auto;}
#content .title_area{overflow: hidden; position: relative;}
#content .title_area .line_map{position: absolute; right: 20px; top: 30px; color: #666; font-size: 16px;}

#content .animation_box{overflow: hidden;}
#content .animation_box::after{content: ""; display: block; width: 3px; height: 90px; 
    background: #f23f42; position: absolute; left: 50%; margin-left: -4px; bottom: 30px;}
#content .animation_box h2{font-size: 50px; font-weight: 700; text-align: center;
                        margin: 130px 0 20px;}
#content .animation_box p{font-size: 18px;margin-bottom: 150px; text-align: center;}
#content .animation_box p span{color: #f23f42;}

/* section1 */
.content_area .vision{overflow: hidden; margin: 50px 0 125px;}
.content_area .vision .vision_textbox{width: 600px; float: left;}
.content_area .vision .vision_imgbox{width: 500px; float: right;}

.content_area .vision .vision_textbox h3{font-size: 3.3em; margin-bottom: 30px; font-weight: 700; position: relative;}
.content_area .vision .vision_textbox h3::before{content: ""; width: 10px; height: 10px; background: #f23f42; border-radius: 15px; position: absolute; right: 275px; top: 9px;}
.content_area .vision .vision_textbox p{font-size: 1.4em; font-weight: 500;}

.content_area .vision .vision_imgbox img{width: 300px; position: relative;}
.content_area .vision .vision_imgbox::before{content: ""; width: 280px; height: 310px; background: #d7393b; position: absolute; right: 510px; bottom: -400px;}

/* section 2*/
.content_area .vision_circle{background: #f9f9f9; height: 1100px; width: 2000px; margin-left: -400px;}
.content_area .vision_circle .vision_textbox2{}
.content_area .vision_circle h3{text-align: center; font-size: 2em; padding-top: 70px;}
.content_area .vision_circle .vision_textbox2 p{text-align: center; line-height: 28px; font-size: 1.1em;}
.content_area .vision_circle dl{position: relative; margin-left: -125px;}
.content_area .vision_circle dt{position: absolute; width: 250px; height: 250px; background: #f23f42; border-radius: 50%; left: 50%; top: 335px; margin-left: -60px;}
.content_area .vision_circle dt::before{content: ""; display: block; position: absolute; border: dotted 2px #ccc; border-radius: 50%; top: -150px; left: -150px; width: 550px; height: 550px;}
.content_area .vision_circle dt p{margin: 105px 0 0 50px; font-weight: 600; font-size: 1.5em; color: #fff;}
.content_area .vision_circle dl dd{position: absolute; width: 250px; height: 250px; background: #fff; border-radius: 50%;}
.content_area .vision_circle dl dd:nth-of-type(1){left: 1000px; top: 35px;}
.content_area .vision_circle dl dd:nth-of-type(2){right: 600px; top: 480px;}
.content_area .vision_circle dl dd:nth-of-type(3){left: 730px; top: 480px;}
.content_area .vision_circle dl dd:nth-of-type(3) span{margin-left: 50px;}

.content_area .vision_circle dl dd span{display: block; color: #f23f42; margin: 45px 0 0 100px; font-weight: 600; font-size: 1.1em;}
.content_area .vision_circle dl dd p{text-align: center; font-size: 1.1em; font-size: 500; margin-top: 35px;}
/* .content_area .vision_circle dl dd span:nth-of-type(3){margin-left: -20px;} */

.content_area .vision_center h3{font-size: 2em; padding-top: 50px;}
.content_area .vision_center dl{display: flex; margin: 50px 0 100px;}
.content_area .vision_center dl dt{width: 200px; height: 20px; background: #f23f42; border-radius: 10px; font-size: 1.2em; font-weight: 600; color: #fff; padding: 70px 20px; text-align: center; margin-top: 5px;}
.content_area .vision_center dl dd{border: 2px solid #f23f42; border-radius: 10px; margin: 6px; padding: 10px; width: 400px;}
.content_area .vision_center dl dd span{font-weight: 600; font-size: 1.1em;}
.content_area .vision_center dl p{margin-top: 15px;}